.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: green;
}

.div {
    margin: 0;
    padding: 0;
}

.link {
    text-decoration: none;
    margin: 10%;
    background-color: white;
    border: 1px solid;
    border-radius: 8px;
    padding: 3px;
    color: black;
    transition: .2s;
}

.link:hover {
    background-color: gray;
    transition: .2s;

}

.title {
    font-size: 40px;
}